<div id="disclaimer-content">
  <h2>Disclaimer</h2>
  <p>
  This web application is a non-commercial fan project inspired by the Dune universe created by Frank Herbert. It is not affiliated with, endorsed, sponsored, or approved by Herbert Properties LLC, Legendary Pictures, or any other rights holders of the Dune franchise. All trademarks, character names, and related content are the property of their respective owners and are used here in a strictly non-commercial, transformative context.
  </p>
  <h2>Attributions</h2>
  <p>
    <a class="attribution" href="https://www.flaticon.com/free-icon/travel_14083740?term=dunes&page=1&position=13&origin=tag&related_id=14083740" title="dunes icons" target="_blank" rel="noopener noreferrer">Dunes icons created by Roundicons Premium - Flaticon</a>
  </p>
</div>
